mixin head
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{ title }
    meta(name="theme-color", content="#fff")
    meta(
      name="apple-mobile-web-app-status-bar-style",
      content="black-translucent"
    )
    meta(
      name="viewport",
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    )
    link(
      rel="icon",
      type="image/png",
      href="img/favicon-96x96.png",
      sizes="96x96"
    )
    link(rel="icon", type="image/svg+xml", href="img/favicon.svg")
    link(rel="shortcut icon", href="img/favicon.ico")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href="img/apple-touch-icon.png"
    )
    meta(name="apple-mobile-web-app-title", content="Колос")
    link(rel="manifest", href="site.webmanifest")
    script(
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js",
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
      crossorigin="anonymous"
    )
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(
      src="https://api-maps.yandex.ru/2.1/?apikey=d176ec1a-b884-4f13-8214-24154cf58189&lang=ru_RU&_v=20220408143704"
    )
    block style
      link(rel="stylesheet", href="styles/main.css")
    block head-script
