mixin floating-button
  a(
    href="#",
    class="floating-button filled link icon",
    data-button="modal-form",
    data-id="choose-consult",
    data-floating-button=""
  )
    svg(
      width="22",
      height="22",
      viewbox="0 0 14 14",
      fill="none",
      xmlns="http://www.w3.org/2000/svg"
    )
      path(
        d="M6.51992 13.0699C6.00152 13.4037 5.38449 13.55 4.7714 13.4845C4.15832 13.419 3.58611 13.1457 3.14992 12.7099L2.76992 12.3299C2.60138 12.1595 2.50684 11.9296 2.50684 11.6899C2.50684 11.4503 2.60138 11.2203 2.76992 11.0499L4.36992 9.45991C4.53859 9.29198 4.76691 9.1977 5.00492 9.1977C5.24293 9.1977 5.47125 9.29198 5.63992 9.45991C5.81029 9.62846 6.04027 9.72299 6.27992 9.72299C6.51957 9.72299 6.74955 9.62846 6.91992 9.45991L9.46992 6.90991C9.63847 6.73954 9.73301 6.50956 9.73301 6.26991C9.73301 6.03026 9.63847 5.80028 9.46992 5.62991C9.30199 5.46124 9.20771 5.23292 9.20771 4.99491C9.20771 4.7569 9.30199 4.52858 9.46992 4.35991L11.0099 2.75991C11.1803 2.59136 11.4103 2.49683 11.6499 2.49683C11.8896 2.49683 12.1196 2.59136 12.2899 2.75991L12.6699 3.13991C13.1135 3.56995 13.3962 4.13911 13.4708 4.75241C13.5455 5.36571 13.4075 5.98606 13.0799 6.50991C11.3362 9.09869 9.1087 11.3262 6.51992 13.0699Z",
        stroke="black",
        stroke-linecap="round",
        stroke-linejoin="round"
      )
      path(
        d="M7.00977 0.5C6.15618 0.5 5.31094 0.668127 4.52233 0.994783C3.73371 1.32144 3.01716 1.80023 2.41358 2.40381C1.80999 3.00739 1.33121 3.72394 1.00455 4.51256C0.677894 5.30117 0.509766 6.14641 0.509766 7",
        stroke="black",
        stroke-linecap="round",
        stroke-linejoin="round"
      )
      path(
        d="M7.00977 3C5.9489 3 4.93149 3.42143 4.18134 4.17157C3.4312 4.92172 3.00977 5.93913 3.00977 7",
        stroke="black",
        stroke-linecap="round",
        stroke-linejoin="round"
      )
