extends ./layouts/default

block variables
  - const title = "Главная";
block content
  include ../blocks/components/link/link
  include ../blocks/components/detail-slider/detail-slider
  include ../blocks/components/construction/construction-slider
  include ../blocks/components/history/history-slider
  include ../blocks/components/plans-slider/plans-slider
  include ../blocks/components/location/map
  section(class="first")
    img(src="img/main.jpg", class="first__img")
    div(class="container")
      div(class="first__text")
        h1(class="first__title") дом где всё начинается
        p(class="first__subtitle") I квартал 2027
  section#about(class="first-description")
    div(class="container")
      div(class="flex flex-wrap gap-y-10")
        div(class="col-7 col-md-10")
          h5(class="first-description__title") Новый жилой дом, гармонично сочетающий стильную архитектуру, современные удобства и виды на исторический пейзаж
          address(class="first-description__address")
            svg(
              width="24",
              height="24",
              viewBox="0 0 24 24",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M12 20.9L16.95 15.95C17.9289 14.971 18.5955 13.7237 18.8656 12.3659C19.1356 11.008 18.9969 9.60061 18.4671 8.32157C17.9373 7.04253 17.04 5.94932 15.8889 5.18018C14.7378 4.41104 13.3844 4.00052 12 4.00052C10.6156 4.00052 9.26222 4.41104 8.11109 5.18018C6.95996 5.94932 6.06275 7.04253 5.53292 8.32157C5.00308 9.60061 4.86442 11.008 5.13445 12.3659C5.40449 13.7237 6.07111 14.971 7.05 15.95L12 20.9ZM12 23.728L5.636 17.364C4.37734 16.1053 3.52019 14.5017 3.17293 12.7559C2.82567 11.01 3.00391 9.20044 3.6851 7.55591C4.36629 5.91139 5.51984 4.50579 6.99988 3.51686C8.47992 2.52793 10.22 2.00009 12 2.00009C13.78 2.00009 15.5201 2.52793 17.0001 3.51686C18.4802 4.50579 19.6337 5.91139 20.3149 7.55591C20.9961 9.20044 21.1743 11.01 20.8271 12.7559C20.4798 14.5017 19.6227 16.1053 18.364 17.364L12 23.728ZM12 13C12.5304 13 13.0391 12.7893 13.4142 12.4142C13.7893 12.0392 14 11.5304 14 11C14 10.4696 13.7893 9.96087 13.4142 9.5858C13.0391 9.21073 12.5304 9.00001 12 9.00001C11.4696 9.00001 10.9609 9.21073 10.5858 9.5858C10.2107 9.96087 10 10.4696 10 11C10 11.5304 10.2107 12.0392 10.5858 12.4142C10.9609 12.7893 11.4696 13 12 13ZM12 15C10.9391 15 9.92172 14.5786 9.17158 13.8284C8.42143 13.0783 8 12.0609 8 11C8 9.93915 8.42143 8.92173 9.17158 8.17159C9.92172 7.42144 10.9391 7.00001 12 7.00001C13.0609 7.00001 14.0783 7.42144 14.8284 8.17159C15.5786 8.92173 16 9.93915 16 11C16 12.0609 15.5786 13.0783 14.8284 13.8284C14.0783 14.5786 13.0609 15 12 15Z",
                fill="#FBBF51"
              )
            span Барнаул, ул. Интернациональная 8
          p(class="first-description__text") Окруженный парками и&nbsp;аллеями, удобными магазинами и&nbsp;ресторанами, &laquo;Колос&raquo; предлагает идеальное расположение для удовлетворения всех потребностей жителей. Вы&nbsp;сможете наслаждаться современными интерьерами, высококачественными материалами и&nbsp;продуманными удобствами.
          div(class="first-description__actions flex flex-wrap gap-x-7 gap-y-5")
            a(
              class="filled js-modal-form-toggle link",
              href="#apartments",
              data-button=""
            ) Выбрать квартиру
            a(
              class="outlined link",
              href="#",
              data-id="choose-consult",
              data-button="modal-form"
            ) Заказать звонок
            a(class="ghost link", href="https://wa.me/79132534979", target="_blank")
              svg(
                width="24",
                height="24",
                viewbox="0 0 24 24",
                fill="none",
                xmlns="http://www.w3.org/2000/svg"
              )
                path(
                  d="M12.0003 1.50751C6.28318 1.50929 1.50666 6.29197 1.50668 12.0044C1.50669 14.0639 2.11964 16.0982 3.26367 17.8181L1.50342 22.5013L7.39782 21.4354C8.8377 22.1391 10.4188 22.4917 12.0003 22.4928C17.7224 22.4967 22.5034 17.7204 22.5034 12.0044C22.5034 6.29497 17.7207 1.50413 12.0003 1.50751Z",
                  stroke="#FBBF51",
                  stroke-width="1.5",
                  stroke-linecap="round",
                  stroke-linejoin="round"
                )
                path(
                  d="M12.578 16.6272C13.9981 17.5388 15.4786 16.8748 16.5097 16.1058C17.2219 15.5746 17.1983 14.5501 16.59 13.9025L15.3905 12.6255C14.9355 13.0805 14.0488 13.3058 13.4327 13.1182C12.1085 12.7152 11.5528 12.0252 11.1024 11.3236C10.5851 10.5178 11.1693 9.31431 11.6243 8.85932L10.2873 7.63873C9.72361 7.12417 8.86746 7.03734 8.37567 7.62097C7.40261 8.77568 6.79745 10.5288 7.51414 11.645C8.80071 13.6489 10.574 15.3408 12.578 16.6272Z",
                  stroke="#FBBF51",
                  stroke-width="1.5",
                  stroke-linecap="round",
                  stroke-linejoin="round"
                )
              span Написать в WhatsApp
        div(class="col-1 col-md-0")
        div(class="col-4 col-md-10")
          div(class="factoid") 
            div(class="factoid__item") 
              h2(class="factoid__title") 8 квартир
              p(class="factoid__text") на одном этаже
            div(class="factoid__item") 
              h2(class="factoid__title") 39,7м²—46.7м²
              p(class="factoid__text") площадь квартир
            div(class="factoid__item") 
              h2(class="factoid__title") 1—2 комнаты
              p(class="factoid__text") компактные квартиры
  section(class="just-img")
    div(class="container")
      img(src="img/just-img.png", loading="lazy")
  section(class="benefits")
    div(class="container")
      div(class="section__header")
        span(class="section__subtitle") Преимущества
        h2(class="section__title") Дом для красивой и удобной жизни
      div(class="benefits__list")
        each item in [{title: "Келлеры, чтобы не загружать лоджию", img: "img/benefits/1.png", text:"Дополнительное пространство для хранения, что облегчает организацию и упорядочивание вещей в квартире"},{title: "Подземный паркинг чтобы не искать место для машины", img: "img/benefits/2.png", text: "Безопасное и удобное место для парковки вашего автомобиля. Забудьте о проблемах поиска парковочного места на улице или оставления автомобиля под открытым небом."}, {title: "Коммерческие помещения чтобы быть ближе", img: "img/benefits/3.png", text:"Отличная возможность для предпринимателей и бизнес-людей создать свой бизнес в привлекательном районе"}]
          div(class="benefits__item")
            div(class="benefits__img")
              img(src=item.img, loading="lazy")
            div(class="benefits__content")
              h3(class="benefits__title")= item.title
              p(class="benefits__text")= item.text
  +plans-slider
  section(class="detail")
    div(class="container")
      div(class="section__header")
        span(class="section__subtitle") Благоустройство
        h2(class="section__title") Жить, радуясь удобствам
      div(class="flex flex-wrap")
        div(class="col-7 col-md-12")
          div(class="detail__sliders")
            +detail-slider(1)
            +detail-slider(2)
            +detail-slider(3)
        div(class="col-5 col-md-8 pl-[60px] md:mt-[20px] md:pl-[0]")
          div(data-id="1", class="detail__slider-tab js-detail-slider-tab active")
            h5 Места общего пользования
            p Особое пространство, созданное для комфорта и&nbsp;удовлетворения потребностей всех жителей
          div(data-id="2", class="detail__slider-tab js-detail-slider-tab")
            h5 Паркинг
            p Возможность обеспечить сохранность автомобиля в&nbsp;шаговой доступности
          div(data-id="3", class="detail__slider-tab js-detail-slider-tab")
            h5 Келлеры
            p Кладовые помещения для удобного складирования сезонных вещей, автомобильных аксессуаров
  section(class="just-img2")
    div(class="container")
      div(class="section__header")
        h2(class="section__title") Панорама, от которой
          br 
          | захватывает дух
      div(class="panorama")
        img(src="img/just-img2.png", loading="lazy")
  section(class="location")
    div(class="container")
      div(class="section__header")
        span(class="section__subtitle") Расположение
        h2(class="section__title") Россыпь точек притяжения
      div(class="flex flex-wrap gap-y-10")
        div(class="col-5 col-md-10")
          p(class="location__text") Жилой комплекс «Колос» расположен в&nbsp;нескольких минутах от&nbsp;главных транспортных артерий города, культурных и&nbsp;деловых центров
          div(class="factoid") 
            div(class="factoid__item") 
              h2(class="factoid__title") 4
                | #{ " " }
                em минуты
              p(class="factoid__text") до школы искусств
            div(class="factoid__item") 
              h2(class="factoid__title") 9
                | #{ " " }
                em минут
              p(class="factoid__text") пешком до школы №6
            div(class="factoid__item") 
              h2(class="factoid__title") 6
                | #{ " " }
                em минут
              p(class="factoid__text") доехать до наберженой
            div(class="factoid__item") 
              h2(class="factoid__title") 14
                | #{ " " }
                em минут
              p(class="factoid__text") прогуляться до Бюи МВД
            div(class="factoid__item") 
              h2(class="factoid__title") 15
                | #{ " " }
                em минут
              p(class="factoid__text") пешком посетить стадион Динамо
        div(class="col-1 col-md-0")
        div(class="col-6 col-md-10")
          +map
  section(class="places")
    div(class="container")
      div(class="section__header")
        h2(class="section__title") Деловой центр Барнаула
      div(class="places__wrapper flex")
        div(class="col-4 col-md-12 places__text")
          div(class="swiper", data-places-text="")
            div(class="swiper-wrapper")
              div(class="swiper-slide")
                h4 История
                p Исторический центр города Барнаула&nbsp;—&nbsp;это&nbsp;уникальное место, пропитанное богатой историей и&nbsp;культурным наследием множества поколений
              div(class="swiper-slide")
                h4 Доступность
                p Центр города изобилует множеством магазинов, бутиков, торговых центров, ресторанов и&nbsp;кафе, музеев и&nbsp;театров, где&nbsp;вы&nbsp;найдете все&nbsp;необходимое для&nbsp;комфортного и&nbsp;удобного досуга.
              div(class="swiper-slide")
                h4 Удобство
                p Благоприятное деловое окружение делает "Дом на Гоголя" привлекательным выбором для профессионалов и предпринимателей, стремящихся к эффективной и комфортной работе в центре Барнаула.
              div(class="swiper-slide")
                h4 Безопасность
                p Будучи окруженные развитой социальной инфраструктурой центра города, вы можете быть уверены в&nbsp;доступности качественных медицинских услуг, быстрой реакции пожарных и&nbsp;полицейских служб в&nbsp;случае необходимости.
            div(class="swiper-navigation")
              div(class="swiper-button-prev text-white")
                svg(
                  width="24",
                  height="24",
                  viewbox="0 0 24 24",
                  fill="none",
                  xmlns="http://www.w3.org/2000/svg"
                )
                  path(
                    fill-rule="evenodd",
                    clip-rule="evenodd",
                    d="M16.6581 24L21 24L13.9702 14.9899C12.2494 12.7843 12.188 11.9988 9.45991 11.9988L3 11.9988L10.0298 21.0089C11.7509 23.215 13.9297 24 16.6581 24Z",
                    fill="currentColor"
                  )
                  path(
                    fill-rule="evenodd",
                    clip-rule="evenodd",
                    d="M16.6581 1.71756e-06L21 1.90735e-06L13.9702 9.01011C12.2494 11.2157 12.188 12.0012 9.45991 12.0012L3 12.0012L10.0298 2.99106C11.7509 0.784998 13.9297 1.59829e-06 16.6581 1.71756e-06Z",
                    fill="currentColor"
                  )
              div(class="swiper-button-next text-white")
                svg(
                  width="24",
                  height="24",
                  viewbox="0 0 24 24",
                  fill="none",
                  xmlns="http://www.w3.org/2000/svg"
                )
                  path(
                    fill-rule="evenodd",
                    clip-rule="evenodd",
                    d="M7.34194 24L3 24L10.0298 14.9899C11.7506 12.7843 11.812 11.9988 14.5401 11.9988L21 11.9988L13.9702 21.0089C12.2491 23.215 10.0703 24 7.34194 24Z",
                    fill="currentColor"
                  )
                  path(
                    fill-rule="evenodd",
                    clip-rule="evenodd",
                    d="M7.34194 1.71756e-06L3 1.90735e-06L10.0298 9.01011C11.7506 11.2157 11.812 12.0012 14.5401 12.0012L21 12.0012L13.9702 2.99106C12.2491 0.784998 10.0703 1.59829e-06 7.34194 1.71756e-06Z",
                    fill="currentColor"
                  )
        div(class="col-8 col-md-12 places__images")
          div(class="swiper", data-places-images="")
            div(class="swiper-wrapper")
              div(class="swiper-slide")
                img(src="img/places/1.jpg", loading="lazy")
              div(class="swiper-slide")
                img(src="img/places/2.jpg", loading="lazy")
              div(class="swiper-slide")
                img(src="img/places/3.jpg", loading="lazy")
              div(class="swiper-slide")
                img(src="img/places/4.jpg", loading="lazy")
  section#payment(class="payment")
    div(class="container")
      div(class="section__header")
        span(class="section__subtitle") Способы покупки
        h2(class="section__title") Гибкие условия для простой сделки
      div(class="payment__list")
        div(class="payment__item")
          h3(class="payment__title") 100% оплата
          p(class="payment__text") Оплата полной стоимости за&nbsp;наличные
        div(class="payment__item")
          h3(class="payment__title") Ипотека
          p(class="payment__text") Поможем оформить ипотеку на&nbsp;срок до&nbsp;30&nbsp;лет&nbsp;у&nbsp;банков-партнёров
        div(class="payment__item")
          h3(class="payment__title") Рассрочка
          p(class="payment__text") Рассрочка без&nbsp;переплат и&nbsp;первоначального взноса на&nbsp;период строительства
      div(class="payment__partners")
        div(class="payment__partner")
          svg(
            width="88",
            height="32",
            viewBox="0 0 88 32",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M6.8898 0.5L5.40186 4.58146H26.0142L27.5021 0.5H6.8898ZM4.65875 6.62045L3.17081 10.701H23.7831L25.2711 6.62045C25.2711 6.62045 4.65875 6.62045 4.65875 6.62045ZM2.43203 12.7409L0.944092 16.8206H21.5564L23.0426 12.74C23.0435 12.7409 2.43203 12.7409 2.43203 12.7409Z",
              fill="#FBBF51",
              fill-opacity="0.8"
            )
            path(
              d="M44.2769 18.1017V18.1864C45.2026 18.5264 46.0876 19.1216 46.5504 19.504C47.9812 20.6943 48.6136 22.2662 48.6136 24.306C48.6136 27.6651 46.8454 30.0865 43.9396 30.8521C43.0546 31.1073 42.1289 31.1921 40.4031 31.1921H31.6052V6.62549H39.3944C40.9948 6.62549 42.0883 6.71027 43.0563 6.9646C45.8773 7.7302 47.7303 9.68528 47.7303 12.7875C47.7303 14.4458 47.1412 15.849 46.1732 16.7833C45.7519 17.208 45.1628 17.7184 44.2787 18.1008L44.2769 18.1017ZM36.4886 20.6943V27.1547H39.8572C40.8668 27.1547 41.7942 27.07 42.4672 26.4324C43.1411 25.7948 43.4352 24.9868 43.4352 23.9245C43.4352 23.1183 43.2241 22.3527 42.8037 21.7999C42.0883 20.9071 41.2033 20.6943 39.6885 20.6943H36.4877H36.4886ZM36.4454 16.4433H39.1825C40.0242 16.4433 40.4455 16.4433 40.8659 16.3161C42.0035 15.9753 42.7189 14.9571 42.7189 13.5539C42.7189 11.8964 41.9611 11.1732 40.8659 10.8341C40.4022 10.7061 39.9403 10.6646 39.0138 10.6646H36.4454V16.4442V16.4433ZM55.9391 31.1929V10.7485H48.9086V6.62635H68.4447L67.0554 10.7485H60.8234V31.1929H55.9391ZM69.9603 31.1929V6.62635H85.7913L84.402 10.7485H74.8031V16.1898H78.7193C81.8768 16.1898 83.5188 16.9554 84.6564 17.9321C85.5413 18.6977 87.0561 20.3967 87.0561 23.7558C87.0561 27.0708 85.4989 28.8979 84.1927 29.8339C82.6771 30.8954 81.0775 31.1938 77.8343 31.1938H69.9612H69.9603V31.1929ZM74.8022 27.0691H78.465C79.8543 27.0691 80.696 26.7291 81.2851 25.9635C81.5793 25.582 82.0006 24.9003 82.0006 23.6261C82.0006 22.3518 81.5793 21.4582 80.7375 20.8206C80.2332 20.4391 79.5584 20.2272 78.4217 20.2272H74.8005V27.0691H74.8022Z",
              fill="#FBBF51",
              fill-opacity="0.8"
            )
        div(class="payment__partner")
          svg(
            width="150",
            height="36",
            viewbox="0 0 150 36",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              fill-rule="evenodd",
              clip-rule="evenodd",
              d="M42.7287 17.5498H45.4843C46.5828 17.5498 47.4762 16.6287 47.4762 15.4978C47.4762 14.3663 46.5828 13.4453 45.4843 13.4453H42.7287V17.5498ZM42.7287 12.1336H45.4843V12.1369C47.3426 12.1369 48.8486 13.643 48.8486 15.5006C48.8486 17.3581 47.3426 18.8642 45.4843 18.8642H41.3556V7.84961H47.929V9.16131H42.7287V12.1336ZM51.1731 14.9002C51.1812 16.4906 52.4767 17.7726 54.0671 17.7645L54.0678 17.7652C54.0887 17.7652 54.109 17.7652 54.1299 17.7645C55.6986 17.7429 56.953 16.4535 56.9314 14.8854V14.8699C56.9226 13.2802 55.6271 11.9975 54.0367 12.0062C52.4471 12.0143 51.1644 13.3098 51.1731 14.9002ZM56.9314 17.6809C56.2202 18.5533 55.1723 19.0459 53.9915 19.0459C52.9065 19.0486 51.8661 18.6161 51.1029 17.8455C49.491 16.2018 49.491 13.5703 51.1029 11.926C51.8668 11.1554 52.9072 10.7235 53.9922 10.7263C55.1723 10.7263 56.2202 11.2181 56.9321 12.0913V10.9098H58.2418V18.8644H56.9314V17.6809ZM65.6986 14.2458H61.5935V10.9099H60.2825V18.8617H61.5935V15.5265H65.6986V18.8617H67.0097V10.9099H65.6986V14.2458ZM73.9736 18.8617L70.3597 15.378V18.8617H69.0493V10.9099H70.3597V14.0967L73.7914 10.9099H75.6119L71.4993 14.735L75.7529 18.8617H73.9736ZM41.4084 28.0219C41.4084 29.8093 41.1412 30.9118 40.592 31.3943C40.2904 31.6615 39.8909 31.7539 39.3444 31.6817L39.1743 31.6601V32.9185L39.3126 32.93C39.4638 32.9435 39.6142 32.9496 39.7553 32.9496C40.5488 32.9496 41.1459 32.7444 41.6115 32.316C42.3982 31.592 42.7808 30.198 42.7808 28.0523V23.2285H47.2841V32.9287H48.6585V21.9195H41.4084V28.0219ZM57.1427 28.3302C56.8559 26.6704 55.5887 26.0766 54.5638 26.0766C53.1387 26.0766 52.0429 26.9754 51.7879 28.3302H57.1427ZM50.4182 28.955C50.4182 26.5449 52.1624 24.7952 54.5638 24.7952C55.6684 24.7804 56.7243 25.2487 57.4544 26.0773C58.1467 26.8863 58.5219 27.9186 58.509 28.9827C58.509 29.1453 58.4928 29.3214 58.478 29.4719L58.4645 29.6075H51.7899C52.0497 30.9645 53.1563 31.8315 54.6542 31.8315C55.6987 31.8315 56.5489 31.3848 56.9861 30.6075L57.0617 30.4739L58.2149 31.152L58.1332 31.2836C57.4146 32.4469 56.1407 33.1149 54.6394 33.1149C53.4376 33.1149 52.3479 32.6878 51.5915 31.9327C50.8345 31.1783 50.4182 30.121 50.4182 28.955ZM63.9117 31.6523H61.3544V29.5673H63.9117C64.7011 29.5673 65.1539 29.9364 65.1539 30.5795C65.1539 31.4647 64.4784 31.651 63.9117 31.651V31.6523ZM63.606 28.286H61.3544V26.2604H63.606C64.5857 26.2604 64.7868 26.7935 64.7868 27.2402C64.7875 27.9331 64.3901 28.286 63.606 28.286ZM65.3691 28.819C65.8475 28.4419 66.0978 27.8798 66.0978 27.1801C66.0978 25.8434 65.1181 24.9797 63.606 24.9797H60.044V32.9309H63.9117C65.4629 32.9309 66.4656 32.0315 66.4656 30.6382C66.4656 29.8244 66.0688 29.1746 65.3691 28.819ZM68.745 28.9708C68.7531 30.5606 70.0486 31.8426 71.639 31.8345H71.7011C73.2699 31.8129 74.5242 30.5241 74.5033 28.9553C74.5033 28.9506 74.5026 28.9452 74.5026 28.9405C74.4946 27.3501 73.199 26.0681 71.6087 26.0762C70.0189 26.0849 68.7363 27.3805 68.745 28.9708ZM67.4644 28.9553C67.4644 26.6227 69.2983 24.7955 71.639 24.7955C73.9831 24.7955 75.8137 26.6227 75.8137 28.9553C75.8137 31.2879 73.9797 33.1151 71.639 33.1151C69.2983 33.1151 67.4644 31.2879 67.4644 28.9553ZM80.972 31.8032C79.47 31.8032 78.3338 30.7236 78.3338 29.2918C78.3338 28.1393 79.3479 26.9491 81.0476 26.9491C82.5496 26.9491 83.559 27.9288 83.559 29.3835C83.5597 30.7857 82.4713 31.8032 80.972 31.8032ZM81.1859 25.6684C80.437 25.6684 79.468 25.9018 78.7089 26.5213C79.0463 25.9133 79.6185 25.4977 80.6502 25.0537C80.8422 24.9696 81.0389 24.8878 81.23 24.8084L81.2305 24.8082L81.2729 24.7905L81.2764 24.7891C82.5997 24.2411 83.85 23.7232 84.0732 22.323L84.09 22.2211L83.0104 21.5983L82.9801 21.8196C82.8478 22.7548 82.0617 23.0875 80.974 23.547L80.9217 23.5692C80.6236 23.6958 80.3152 23.8268 79.9882 23.9842C77.4019 25.2298 76.9654 26.5469 76.9654 29.034C76.9654 31.4004 78.6502 33.1169 80.972 33.1169C82.055 33.1169 83.0448 32.7404 83.7607 32.0616C84.4841 31.3619 84.8869 30.3943 84.8721 29.3876C84.8707 27.2304 83.3215 25.6684 81.1859 25.6684ZM92.5931 28.3302C92.3063 26.6704 91.0392 26.0766 90.0142 26.0766C88.5878 26.0766 87.4927 26.9754 87.2376 28.3302H92.5931ZM85.8686 28.955C85.8686 26.5449 87.6128 24.7952 90.0142 24.7952C91.1174 24.7804 92.1727 25.2494 92.9021 26.0773C93.5951 26.8863 93.9696 27.9186 93.9574 28.9827C93.9574 29.1453 93.9419 29.3214 93.9264 29.4719L93.9129 29.6075H87.2363C87.4994 30.9645 88.6067 31.8315 90.1046 31.8315C91.1484 31.8315 91.9986 31.3848 92.4365 30.6075L92.5115 30.4739L93.6646 31.152L93.5843 31.2836C92.865 32.4469 91.5918 33.1149 90.0891 33.1149C88.8881 33.1149 87.7977 32.6878 87.0413 31.9327C86.2856 31.1783 85.8686 30.121 85.8686 28.955ZM99.3325 26.0768C100.923 26.0688 102.218 27.3508 102.227 28.9412C102.235 30.5309 100.953 31.827 99.3629 31.8351C97.7725 31.8432 96.477 30.5612 96.4689 28.9715V28.9553C96.4473 27.3865 97.7023 26.0978 99.2718 26.0768H99.3311H99.3325ZM99.4081 24.7955C98.2273 24.7955 97.1794 25.2881 96.4689 26.1605V24.9797H95.1572V35.9909H96.4689V31.7528C97.1801 32.6259 98.2279 33.1178 99.4081 33.1178C100.494 33.1212 101.534 32.6887 102.299 31.9181C103.909 30.2738 103.909 27.6429 102.299 25.9986C101.534 25.2273 100.494 24.7942 99.4081 24.7955ZM111.383 28.3303C111.096 26.6704 109.829 26.0766 108.804 26.0766C107.376 26.0766 106.282 26.9754 106.027 28.3303H111.383ZM104.659 28.9551C104.659 26.5449 106.403 24.7953 108.804 24.7953C109.91 24.7798 110.967 25.248 111.697 26.078C112.39 26.887 112.764 27.9194 112.752 28.9834C112.752 29.1467 112.737 29.3222 112.721 29.4726L112.708 29.6083H106.031C106.29 30.9652 107.398 31.8322 108.895 31.8322C109.94 31.8322 110.789 31.3855 111.228 30.6082L111.302 30.4739L112.455 31.1521L112.374 31.2836C111.655 32.4469 110.382 33.1149 108.879 33.1149C107.679 33.1149 106.588 32.6878 105.832 31.9327C105.075 31.1784 104.659 30.1211 104.659 28.9551ZM123.092 24.9797H121.464L118.714 28.1254V24.9797H117.403V28.1254L114.654 24.9797H113.026L116.435 28.8042L112.879 32.9309H114.503L117.403 29.5046V32.9309H118.714V29.5046L121.615 32.9309H123.237L119.681 28.8042L123.092 24.9797ZM125.676 28.315H129.781V24.9797H131.092V32.9309H129.781V29.5964H125.676V32.9309H124.365V24.9797H125.676V28.315ZM139.893 32.9309H141.205V24.9797H139.893V32.9309ZM134.473 31.651H136.419C137.377 31.651 137.814 31.0079 137.814 30.4094C137.814 29.8109 137.377 29.1672 136.419 29.1672H134.473V31.651ZM134.473 27.8865H136.419C137.961 27.8865 139.124 28.9722 139.124 30.4094C139.124 31.8466 137.961 32.9309 136.419 32.9309H133.162V24.9797H134.473V27.8865ZM144.5 24.0567H148.779V22.8685H144.5V24.0567ZM144.587 30.5795L148.922 24.9797H150V32.9309H148.692V27.3312L144.358 32.9309H143.276V24.9797H144.587V30.5795Z",
              fill="#FBBF51"
            )
            path(
              d="M22.7997 21.503H6.74545L24.0885 4.04127C24.301 3.8267 24.4191 3.53522 24.4157 3.23293V0.797779C24.4157 0.0919788 23.5689 -0.272379 23.0716 0.240422L0.302978 23.1737C-0.341416 23.8107 0.110687 24.9152 1.01416 24.9152H20.8564C21.156 24.9125 21.4435 24.7945 21.658 24.5846L23.3645 22.8667C23.6748 22.5502 23.6694 22.0428 23.3537 21.7325C23.2052 21.5874 23.0068 21.5051 22.7997 21.503Z",
              fill="#FFCA8C"
            )
            path(
              d="M30.6754 0.377055L11.2751 19.9204H16.0658L29.0149 6.88162V29.4228H6.63016L9.52281 26.5086H4.73209L0.382009 30.8904C-0.330517 31.6077 0.178909 32.8371 1.18429 32.8371H30.9467C31.7591 32.8357 32.4169 32.1758 32.4156 31.3634C32.4156 31.3614 32.4156 31.3594 32.4156 31.3573V1.10511C32.4041 0.183395 31.3077 -0.272058 30.6754 0.377055Z",
              fill="#FBBF51"
            )
        div(class="payment__partner")
          svg(
            width="160",
            height="26",
            viewbox="0 0 160 26",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M71.5463 8.05516L74.9244 5.56601H63.7233V20.3231H74.9244V17.834H66.9236V14.1002H73.6799V11.6111H66.9236V8.05516H71.5463ZM57.5893 8.05516L60.9674 5.56601H48.1661V20.3231H54.8334C58.5672 20.3231 60.7007 18.6341 60.7007 15.7004C60.7007 12.8557 58.745 11.3444 55.189 11.3444H51.2775V8.05516H57.5893ZM54.7445 13.7447C56.7892 13.7447 57.6782 14.4558 57.6782 15.7893C57.6782 17.1228 56.7003 17.834 54.7445 17.834H51.3664V13.7447H54.7445ZM83.9032 5.56601H77.8581V20.3231H81.0584V16.1449H83.9921C87.9036 16.1449 90.3038 14.1002 90.3038 10.811C90.3038 7.52177 87.8147 5.56601 83.9032 5.56601ZM83.9032 13.6558H81.0584V7.96626H83.9032C85.9478 7.96626 87.1035 8.94415 87.1035 10.811C87.0146 12.6779 85.9478 13.6558 83.9032 13.6558ZM42.7433 17.1228C41.8543 17.5673 40.9653 17.834 39.9874 17.834C37.1427 17.834 35.0091 15.7893 35.0091 12.9446C35.0091 10.0998 37.0538 8.05516 39.9874 8.05516C41.0542 8.05516 42.0321 8.41076 42.9211 8.94415L45.2324 7.25508L45.0546 7.07728C43.7211 5.9216 41.9432 5.29932 39.8985 5.29932C37.6761 5.29932 35.7203 6.0105 34.209 7.43287C32.7867 8.85525 31.8977 10.811 31.9866 12.8557C31.9866 14.9003 32.7867 16.8561 34.209 18.3674C35.7203 19.7897 37.765 20.5898 39.8096 20.5009C42.121 20.5009 44.0767 19.7008 45.4991 18.2785L43.4545 16.7672L42.7433 17.1228ZM138.665 11.6111H131.819V5.56601H128.619V20.3231H131.819V14.278H138.665V20.3231H141.865V5.56601H138.665V11.6111ZM117.062 5.56601L110.662 20.3231H113.862L115.106 17.3895H121.863L123.107 20.3231H126.485L120.263 5.56601H117.062ZM116.173 14.9003L118.662 8.94415L120.974 14.9003H116.173ZM153.422 12.6779L159.2 5.56601H155.555L150.755 11.8778H148.977V5.56601H145.776V20.3231H148.977V14.3669H151.021L155.911 20.3231H160L153.422 12.6779ZM103.994 11.3444H100.083V8.05516H108.439V5.56601H96.8823V20.3231H103.55C107.283 20.3231 109.417 18.6341 109.417 15.7004C109.506 12.8557 107.55 11.3444 103.994 11.3444ZM103.461 17.9229H100.083V13.8336H103.461C105.505 13.8336 106.394 14.5447 106.394 15.8782C106.483 17.2117 105.417 17.9229 103.461 17.9229Z",
              fill="#FBBF51",
              fill-opacity="0.8"
            )
            path(
              fill-rule="evenodd",
              clip-rule="evenodd",
              d="M12.1352 0.500009H12.1328C9.00143 0.49614 5.94384 1.75413 3.70635 3.94144C0.139942 7.41301 -0.981235 12.9088 0.906377 17.5246C2.08461 20.4058 4.36103 22.7901 7.20345 24.0687C10.223 25.4267 13.7273 25.4736 16.7811 24.191C19.6574 22.9829 21.9894 20.6646 23.2403 17.8073C24.2259 15.5563 24.5175 13.0232 24.0908 10.6052L21.4758 12.5583C21.4758 13.9716 21.2431 15.3511 20.6727 16.6519C19.7096 18.8478 17.9179 20.6314 15.7072 21.5613C13.3572 22.5498 10.6686 22.5138 8.34334 21.4666C6.15624 20.4815 4.4095 18.652 3.50107 16.4337C2.52738 14.0561 2.56166 11.3231 3.59324 8.97094C4.55567 6.77654 6.34644 4.99387 8.55777 4.06358C11.4533 2.84546 14.8079 3.19423 17.3994 4.996L19.7615 3.23144C17.6257 1.47868 14.897 0.49648 12.1352 0.500009ZM21.7464 5.28523C22.3235 6.04142 22.8121 6.86296 23.2022 7.73336L12.1354 16.0011L7.51022 13.0628V9.52787L12.1354 12.4662L21.7464 5.28523Z",
              fill="#FBBF51",
              fill-opacity="0.8"
            )
        div(class="payment__partner")
          svg(
            width="108",
            height="40",
            viewbox="0 0 108 40",
            fill="none",
            xmlns="http://www.w3.org/2000/svg"
          )
            path(
              d="M13.8497 35.2956H2.71678V30.5911H13.8251V35.2956H13.8497ZM16.0911 28.2266H0.5V40H2.71678V37.6355H16.0419V28.2266H16.0911ZM2.71678 7.06896L7.17487 2.36453V18.8423H2.71678V7.06896ZM0.5 21.1823H9.36696V0H6.06652L0.5 5.8867V21.1823ZM13.8497 2.36453H18.3079V18.8423H13.8497V2.36453ZM11.633 21.1823H20.5V0H11.633V21.1823ZM36.0419 21.1823H38.2586V0H34.9089V0.0246349L31.5591 3.5468V0H28.2094L22.6921 5.8867V21.1823H24.9089V7.06896L29.367 2.36453V21.1823H31.5837V7.06896L36.0419 2.36453V21.1823ZM0.5 25.8867H38.2832V23.5222H0.5V25.8867ZM29.3917 30.5911H36.0419V35.2956H29.3917V30.5911ZM27.1749 35.2956H20.5V30.5911H27.1749V35.2956ZM29.3917 37.6355H38.2832V28.2266H18.3079V37.6355H27.1749V40H29.3917V37.6355ZM71.3374 20.7882H73.2835C74.1452 20.7882 74.6626 21.4039 74.6626 22.2414C74.6626 23.1281 74.1452 23.6946 73.2835 23.6946H71.3374V20.7882ZM71.3374 18.9409V16.8227H75.9678V14.9754H69.3426V25.5665H73.3574C75.3522 25.5665 76.6087 24.1872 76.6087 22.266C76.6087 20.3449 75.3765 18.9655 73.3574 18.9655C73.3817 18.9409 71.3374 18.9409 71.3374 18.9409ZM83.8252 21.9458H81.3374L82.6183 18.1035L83.8252 21.9458ZM84.9583 25.5665H87.0026L83.3817 14.9754H81.8548L78.2339 25.5665H80.2783L80.8939 23.6946H84.4165L84.9583 25.5665ZM94.367 25.5665H96.313V14.9754H94.367V19.3103H90.9922V14.9754H89.047V25.5665H90.9922V21.133H94.367V25.5665ZM103.48 19.9261L106.83 14.9754H104.515L101.313 20V14.9754H99.367V25.5665H101.313V20.0246L104.81 25.5665H107.199L103.48 19.9261Z",
              fill="#FBBF51"
            )
            path(
              d="M55.5495 4.50684H53.8252V35.4921H55.5495V4.50684Z",
              fill="#FBBF51"
            )
  section#news(class="news")
    div(class="container")
      div(class="section__header")
        span(class="section__subtitle") Новости и акции
        h2(class="section__title") Первым быть в курсе событий
      div(class="news__list")
        each item in [{title: "Жилой дом «Колос» аккредитован ведущими банками", img: "img/news-1.png", left: "<p>С радостью сообщаем, что жилой дом «Колос» на Интернациональной, 8 получил аккредитацию в крупнейших банках:</p><ul><li>ВТБ</li><li>Банк Левобережный</li><li>Сбербанк</li><li>ДОМ.РФ</li></ul><p>Теперь покупка квартиры в жилом доме «Колос» стала еще удобнее и доступнее благодаря широкому выбору ипотечных программ с привлекательными условиями.</p>", time:"28 декабря 2024", datetime: "2024-12-28", headerType:"Новость"}, {title: "ГК «Восход» и компания «Вотэтодом» стали партнёрами!", img: "img/detail-slider/3.webp", time: "28 декабря 2024", datetime: "2024-12-28", headerType:"Новость", left: "<p>Рады сообщить, что Группа компаний «Восход» заключила партнёрское соглашение с компанией «Вотэтодом» на продажу квартир в жилом доме «Колос», расположенном по адресу: улица Интернациональная, д. 8.</p><p>Теперь приобрести квартиру в современном и комфортном доме стало ещё проще!</p><p>Как получить консультацию и выбрать квартиру?</p><ul><li>Посетите наш сайт: <a href='https://xn--b1aeygabza2h.xn--p1ai/objects/kolos/' target='_blank'>вотэтодом.рф</a></li><li>Свяжитесь с нами по телефону: <a href='tel:+73852556666'>+7 (3852) 55-66-66</a></li><li>Загляните в отдел продаж компании «Вотэтодом» — наши специалисты с радостью помогут вам!</li></ul>"}]
          div(
            data-button="modal-news",
            data-markup={ title: item.title, date: item.time, datetime: item.datetime, id: "0", rightContent: "", leftContent: item.left, img: item.img },
            class="news__item"
          )
            div(class="news__img")
              img(src=item.img, alt="")
            div(class="news__content")
              h3(class="news__title")!= item.title
              time(class="news__time", datetime=item.datetime)!= item.time
  section#progress(class="constructuin")
    div(class="container")
      div(class="section__header")
        span(class="section__subtitle") Ход строительства
        h2(class="section__title") Дом растет как на дрожжах
      +construction-slider
      div(class="construction__footer")
        div(class="construction__line-wrapper col-9")
          div(class="construction__line js-construction-line")
            span
          div(class="construction__line-title js-construction-line-title") Готовность дома
            span 5%
        div(class="swiper-navigation construction__navigation")
          div(class="js-construction-slider-prev")
            svg(
              width="24",
              height="24",
              viewBox="0 0 24 24",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                fill-rule="evenodd",
                clip-rule="evenodd",
                d="M16.6581 24L21 24L13.9702 14.9899C12.2494 12.7843 12.188 11.9988 9.45991 11.9988L3 11.9988L10.0298 21.0089C11.7509 23.215 13.9297 24 16.6581 24Z",
                fill="currentColor"
              )
              path(
                fill-rule="evenodd",
                clip-rule="evenodd",
                d="M16.6581 1.71756e-06L21 1.90735e-06L13.9702 9.01011C12.2494 11.2157 12.188 12.0012 9.45991 12.0012L3 12.0012L10.0298 2.99106C11.7509 0.784998 13.9297 1.59829e-06 16.6581 1.71756e-06Z",
                fill="currentColor"
              )
          div(class="js-construction-slider-next")
            svg(
              width="24",
              height="24",
              viewBox="0 0 24 24",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                fill-rule="evenodd",
                clip-rule="evenodd",
                d="M7.34194 24L3 24L10.0298 14.9899C11.7506 12.7843 11.812 11.9988 14.5401 11.9988L21 11.9988L13.9702 21.0089C12.2491 23.215 10.0703 24 7.34194 24Z",
                fill="currentColor"
              )
              path(
                fill-rule="evenodd",
                clip-rule="evenodd",
                d="M7.34194 1.71756e-06L3 1.90735e-06L10.0298 9.01011C11.7506 11.2157 11.812 12.0012 14.5401 12.0012L21 12.0012L13.9702 2.99106C12.2491 0.784998 10.0703 1.59829e-06 7.34194 1.71756e-06Z",
                fill="currentColor"
              )
  section#contacts(class="info")
    div(class="container")
      div(class="section__header")
        span(class="section__subtitle") Контактная информация
        h2(class="section__title") Связаться с нами проще, чем кажется
      div(class="flex flex-wrap")
        div(class="col-6 col-md-10 col-td-12")
          div(class="info__form")
            form(
              action="/mock/map.json",
              method="post",
              class="form questions-form js-form"
            )
              h3 Возникли вопросы?
              div(class="message js-message")
              label(class="js-form-label")
                input(
                  type="text",
                  name="name",
                  data-required="true",
                  data-type="text"
                )
                p Ваше имя
              label(class="js-form-label")
                input(
                  type="text",
                  name="phone",
                  class="js-mask-phone",
                  data-required="true",
                  data-type="phone"
                )
                p Телефон
              div(class="form__footer flex")
                p Нажимая кнопку, вы соглашаетесь
                  br 
                  | с нашей политикой
                  | #{ " " }
                  a(href="#") обработки персональных данных
                button(type="submit", class="light link") Заказать звонок
        div(class="col-1 col-md-0")
        div(class="col-5 col-md-6 col-td-8")
          div(class="info__social")
            h3(class="info__title") Отдел продаж
            div(class="info__social-list")
              div(class="info__social-item flex")
                div(class="info__social-content")
                  h6
                    a(href="https://wa.me/79132534979", target="_blank") +7 (913) 253-49-79
                  p Написать в WhatsApp
              div(class="info__social-item flex")
                div(class="info__social-content")
                  h6
                    a(href="tel:+73852556666") +7 (3852) 55-66-66
                  p пн-пт: 8:30-18:00
              div(class="info__social-item flex")
                //- div(class="info__social-img")
                //-   img(src="img/info/pin.svg", loading="lazy")
                div(class="info__social-content")
                  p(class="!mb-1 !text-primary") Барнаул, пр-т.&nbsp;Комсомольский,&nbsp;80Е
                  p пн-пт: 8:30-18:00

block scripts
  script(src="js/main.js")
  script(src="js/vendor.js")
