mixin footer
  footer(class="footer")
    div(class="container")
      div(class="footer__header")
        div(class="flex flex-wrap items-center justify-between gap-6")
          a(href="#", class="footer__logo")
            svg(
              width="280",
              height="24",
              viewBox="0 0 280 24",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              g(clip-path="url(#clip0_1266_7037)")
                path(
                  fill-rule="evenodd",
                  clip-rule="evenodd",
                  d="M261.357 0H259.302C256.826 0 255.924 2.19958 256.948 4.02934L258.186 6.24346C259.376 8.37198 260.882 9.1294 262.768 9.1294H269.431L265.94 2.88594C264.75 0.757419 263.243 0 261.357 0ZM239.501 24H246.163L239.688 12.4207H230.056L234.917 21.1141C236.107 23.2426 237.613 24 239.499 24H239.501ZM239.501 0H246.163L239.688 11.5793H230.056L234.917 2.88594C236.107 0.757419 237.613 0 239.499 0L239.501 0ZM271.927 24H265.264L268.755 17.7565C269.945 15.628 271.451 14.8706 273.337 14.8706H280L276.509 21.1141C275.319 23.2426 273.813 24 271.927 24ZM271.927 0H265.264L268.755 6.24346C269.945 8.37198 271.451 9.1294 273.337 9.1294H280L276.509 2.88594C275.319 0.757419 273.813 0 271.927 0ZM261.357 24H254.695L258.186 17.7565C259.376 15.628 260.882 14.8706 262.768 14.8706H269.431L265.94 21.1141C264.75 23.2426 263.243 24 261.357 24ZM180.529 24H187.192L180.717 12.4207H171.084L175.945 21.1141C177.135 23.2426 178.641 24 180.528 24H180.529ZM180.529 0H187.192L180.717 11.5793H171.084L175.945 2.88594C177.135 0.757419 178.641 0 180.528 0L180.529 0ZM212.955 0H206.293L212.767 11.5793H222.4L217.539 2.88594C216.349 0.757419 214.843 0 212.957 0L212.955 0ZM212.955 24H206.293L212.767 12.4207H222.4L217.539 21.1141C216.349 23.2426 214.843 24 212.957 24H212.955ZM149.75 0H143.087L149.562 11.5793H159.195L154.334 2.88594C153.144 0.757419 151.638 0 149.751 0L149.75 0ZM139.18 0H132.518L138.993 11.5793H148.625L143.765 2.88594C142.574 0.757419 141.068 0 139.182 0L139.18 0ZM128.606 0H121.944L126.805 8.69336C127.995 10.8219 129.501 11.5793 131.387 11.5793H138.05L133.189 2.88594C131.999 0.757419 130.493 0 128.606 0ZM148.949 24H155.612L149.137 12.4207H139.504L144.365 21.1141C145.555 23.2426 147.061 24 148.948 24H148.949ZM128.606 24H121.944L128.419 12.4207H138.051L133.19 21.1141C132 23.2426 130.494 24 128.608 24H128.606ZM120.818 12.4207H127.48L122.619 21.1141C121.429 23.2426 119.923 24 118.037 24H111.374L116.235 15.3066C117.425 13.1781 118.932 12.4207 120.818 12.4207ZM64.9491 24H71.6117L65.1368 12.4207H55.5042L60.3651 21.1141C61.5553 23.2426 63.0614 24 64.9475 24H64.9491ZM64.9491 0H71.6117L65.1368 11.5793H55.5042L60.3651 2.88594C61.5553 0.757419 63.0614 0 64.9475 0L64.9491 0ZM97.3752 0H90.7126L97.1875 11.5793H106.82L101.959 2.88594C100.769 0.757419 99.2629 0 97.3768 0L97.3752 0ZM97.3752 24H90.7126L97.1875 12.4207H106.82L101.959 21.1141C100.769 23.2426 99.2629 24 97.3768 24H97.3752ZM43.9386 24H50.6011L45.7403 15.3066C44.5501 13.1781 43.044 12.4207 41.1578 12.4207H34.4952L39.3561 21.1141C40.5463 23.2426 42.0524 24 43.9386 24ZM33.3692 24H40.0317L33.5568 12.4207H23.9243L28.7851 21.1141C29.9753 23.2426 31.4814 24 33.3676 24H33.3692ZM17.2851 12.4207H10.4474V21.1141C10.4474 22.8808 11.5297 24 13.2422 24H20.08V15.3066C20.08 13.7191 18.8225 12.4207 17.2851 12.4207ZM6.83774 24H0V12.4207H9.63258V21.1141C9.63258 22.8808 8.5503 24 6.83774 24ZM17.2851 11.5793H10.4474V2.88594C10.4474 1.11917 11.5297 0 13.2422 0H20.08V8.69336C20.08 10.2809 18.8225 11.5793 17.2851 11.5793ZM39.9363 0H46.5989L41.738 8.69336C40.5478 10.8219 39.0417 11.5793 37.1556 11.5793H30.493L35.3539 2.88594C36.544 0.757419 38.0502 0 39.9363 0ZM6.83774 0H0V11.5793H9.63258V2.88594C9.63258 1.11756 8.54873 0 6.83774 0ZM29.3685 0H36.0311L29.5562 11.5793H19.9236L24.7845 2.88594C25.9746 0.757419 27.4808 0 29.3669 0L29.3685 0ZM159.519 24H166.181L159.706 12.4207H150.074L154.934 21.1141C156.125 23.2426 157.631 24 159.517 24H159.519ZM86.8058 24H80.1432L85.0041 15.3066C86.1943 13.1781 87.7004 12.4207 89.5865 12.4207H96.2491L91.3883 21.1141C90.1981 23.2426 88.692 24 86.8058 24ZM72.7378 11.5793H66.0752L70.936 2.88594C72.1262 0.757419 73.6324 0 75.5185 0H82.1811L77.3202 8.69336C76.13 10.8219 74.6239 11.5793 72.7378 11.5793ZM86.8058 0H84.7507C82.2749 0 81.3725 2.19958 82.3969 4.02934L85.0041 8.69336C86.1943 10.8219 87.7004 11.5793 89.5865 11.5793H96.2491L91.3883 2.88594C90.1981 0.757419 88.692 0 86.8058 0ZM75.5185 24H77.5736C80.0494 24 80.9518 21.8004 79.9274 19.9707L77.3202 15.3066C76.13 13.1781 74.6239 12.4207 72.7378 12.4207H66.0752L70.936 21.1141C72.1262 23.2426 73.6324 24 75.5185 24ZM202.386 0H200.331C197.855 0 196.952 2.19958 197.977 4.02934L200.584 8.69336C201.774 10.8219 203.28 11.5793 205.167 11.5793H211.829L206.968 2.88594C205.778 0.757419 204.272 0 202.386 0ZM191.098 24H193.154C195.629 24 196.532 21.8004 195.507 19.9707L192.9 15.3066C191.71 13.1781 190.204 12.4207 188.318 12.4207H181.655L186.516 21.1141C187.706 23.2426 189.212 24 191.098 24ZM188.318 11.5793H181.655L186.516 2.88594C187.706 0.757419 189.212 0 191.098 0H197.761L192.9 8.69336C191.71 10.8219 190.204 11.5793 188.318 11.5793ZM202.386 24H195.723L200.584 15.3066C201.774 13.1781 203.28 12.4207 205.167 12.4207H211.829L206.968 21.1141C205.778 23.2426 204.272 24 202.386 24ZM250.07 24H252.125C254.601 24 255.503 21.8004 254.479 19.9707L251.872 15.3066C250.682 13.1781 249.175 12.4207 247.289 12.4207H240.627L245.488 21.1141C246.678 23.2426 248.184 24 250.07 24ZM247.288 11.5793H240.625L245.486 2.88594C246.676 0.757419 248.182 0 250.068 0H256.731L251.87 8.69336C250.68 10.8219 249.174 11.5793 247.288 11.5793Z",
                  fill="#FBBF51"
                )
              defs
                clipPath#clip0_1266_7037
                  rect(width="280", height="24", fill="white")
          nav(class="flex flex-wrap items-center")
            a(href="#apartments", class="px-5 py-2 pl-0 text-lg text-white") Квартиры
            a(href="#news", class="px-5 py-2 text-lg text-white") Новости
            a(href="#about", class="px-5 py-2 text-lg text-white") О застройщике
            a(href="#contacts", class="px-5 py-2 text-lg text-white") Контакты
        div(class="footer__social flex")
          each item in [{href:"#", img:"img/social/inst.svg"}, {href:"#", img:"img/social/vk.svg"}, {href:"#", img:"img/social/tg.svg"}]
            a(href=item.href, class="footer__social-item block")
              img(src=item.img, loading="lazy")
      div(class="footer__main gap-y-6")
        div(class="col-5 flex flex-col")
          a(
            href="https://voskhoddom.ru/",
            target="_blank",
            class="mb-[1.125rem] text-white underline decoration-primary/80 underline-offset-8"
          ) Восход
          a(
            href="#",
            class="text-white underline decoration-primary/80 underline-offset-8"
          ) Политика конфиденциальности
          p(class="mb-0 mt-5 text-sm text-white") Вся информация на&nbsp;сайте носит информационный характер и&nbsp;не&nbsp;является публичной офертой, определяемой положениями статьи 437&nbsp;ГК РФ. Проектная декларация на&nbsp;сайте
            | #{ " " }
            a(
              href="https://xn--80az8a.xn--d1aqf.xn--p1ai/",
              target="_blank",
              class="underline"
            ) наш.дом.рф
        div(class="ml-auto text-right text-white")
          p(class="my-0") ©2025
          p(class="mb-0 mt-5") Сайт от
            | #{ " " }
            a(
              href="https://countryagency.ru/",
              class="hover:text-primary",
              target="_blank"
            ) Country
