mixin footer
  footer(class="footer")
    div(class="container")
      div(class="footer__header")
        div(class="flex flex-wrap items-center justify-between gap-6")
          a(href="#", class="footer__logo")
            svg(
              width="314",
              height="36",
              viewbox="0 0 314 36",
              fill="none",
              xmlns="http://www.w3.org/2000/svg"
            )
              path(
                d="M288.616 12.2211L275.166 25.2787H302.115L288.616 12.2211ZM263.232 33.3177V24.814L288.616 0L314 24.814V33.3177H263.232Z",
                fill="white"
              )
              path(
                d="M234.082 34.1076C223.126 34.1076 211.926 29.5073 211.926 17.6114C211.926 5.76206 223.175 1.11523 234.082 1.11523C244.94 1.11523 256.042 5.855 256.042 17.6114C256.042 29.4608 245.086 34.1076 234.082 34.1076ZM234.033 25.7898C239.608 25.7898 246.113 24.2564 246.113 17.5649C246.113 10.9665 239.511 9.34008 234.033 9.34008C228.506 9.34008 221.903 10.8735 221.903 17.5649C221.854 24.3028 228.408 25.7898 234.033 25.7898Z",
                fill="white"
              )
              path(
                d="M86.0321 25.2789H64.2673V9.85149H86.0321V25.2789ZM95.6184 33.3179V1.8125H54.6321V33.3179H95.6184Z",
                fill="white"
              )
              path(
                d="M38.0517 17.2864C41.0352 18.634 42.8937 20.725 42.8937 24.1172C42.8937 31.3198 36.0464 33.3179 29.4436 33.3179H0V1.8125H28.0742C34.5791 1.8125 42.0623 3.02068 42.0623 10.5485C42.0134 13.1507 40.8396 15.5206 38.0517 17.2864ZM9.58628 8.50391V15.0094H27.634C29.8838 15.0094 32.0847 14.266 32.0847 11.7102C32.0847 9.15447 29.8349 8.55039 27.634 8.55039H9.58628V8.50391ZM28.5632 19.9815H9.58628V26.673H28.5632C30.9598 26.673 33.014 25.9759 33.014 23.2808C33.014 20.725 30.7642 19.9815 28.5632 19.9815Z",
                fill="white"
              )
              path(
                fill-rule="evenodd",
                clip-rule="evenodd",
                d="M160.961 35.1299V24.4887L172.846 17.5649L160.961 10.6412V0L181.307 12.5928L201.654 0V10.6412L189.769 17.5649L201.654 24.4887V35.1299L181.307 22.537L160.961 35.1299Z",
                fill="white"
              )
              path(
                d="M129.268 34.1076C118.068 34.1076 107.406 29.4608 107.406 17.6114C107.406 5.855 118.215 1.11523 129.268 1.11523C138.855 1.11523 150.3 4.92561 150.691 14.6839H140.811C140.42 10.3624 133.23 9.43303 129.268 9.43303C123.448 9.43303 117.334 11.2453 117.334 17.6579C117.334 24.1634 123.301 25.8828 129.268 25.8828C133.279 25.8828 140.42 25.0928 140.811 20.6783H150.691C150.3 30.6225 139.099 34.1076 129.268 34.1076Z",
                fill="white"
              )

          nav(class="flex flex-wrap items-center")
            a(href="#apartments", class="px-5 py-2 pl-0 text-lg text-white") Квартиры
            a(href="#news", class="px-5 py-2 text-lg text-white") Новости
            a(href="#about", class="px-5 py-2 text-lg text-white") О застройщике
            a(href="#contacts", class="px-5 py-2 text-lg text-white") Контакты
        div(class="footer__social flex")
          each item in [{href:"https://instagram.com/voskhoddom.ru", img:"img/social/inst.svg"}, {href:"https://vk.com/voskhoddom", img:"img/social/vk.svg"}, {href:"https://t.me/voskhoddom", img:"img/social/tg.svg"}]
            a(href=item.href, class="footer__social-item block", target="_blank")
              img(src=item.img, loading="lazy")
      div(class="footer__main gap-y-6")
        div(class="col-5 flex flex-col")
          a(
            href="https://voskhoddom.ru/",
            target="_blank",
            class="mb-[1.125rem] text-white underline decoration-primary/80 underline-offset-8"
          ) Дом на Гоголя 25а
          a(
            href="privacy-police/Политика_в_отношении_обработки_персональных_данных_Колос.pdf",
            target="_blank",
            class="text-white underline decoration-primary/80 underline-offset-8"
          ) Политика конфиденциальности
          p(class="mb-0 mt-5 text-sm text-white") Вся информация на&nbsp;сайте носит информационный характер и&nbsp;не&nbsp;является публичной офертой, определяемой положениями статьи 437&nbsp;ГК РФ. Проектная декларация на&nbsp;сайте
            | #{ " " }
            a(
              href="https://xn--80az8a.xn--d1aqf.xn--p1ai/",
              target="_blank",
              class="underline"
            ) наш.дом.рф
        div(class="ml-auto text-right text-white")
          p(class="my-0") ©2025
          p(class="mb-0 mt-5") Сайт от
            | #{ " " }
            a(
              href="https://countryagency.ru/",
              class="hover:text-primary",
              target="_blank"
            ) Country
